Options -Indexes
RewriteEngine on

# ---- Coche ---- 
RewriteRule ^$ 								index.php?con=coche&act=see [L]
RewriteRule ^coche$ 						index.php?con=coche&act=see [L]
RewriteRule ^coche/add$ 				    index.php?con=coche&act=add [L]
RewriteRule ^coche/delete/([1-9][0-9]*)$ 	index.php?con=coche&act=delete&id_=$1 [L]

# ---- Usuario ---- 
RewriteRule ^usuario$ 								index.php?con=usuario&act=see [L]
RewriteRule ^usuario/add$ 							index.php?con=usuario&act=add [L]
RewriteRule ^usuario/delete/([1-9][0-9]*)$ 			index.php?con=usuario&act=delete&id_=$1 [L]

# ---- Prestamo ---- 
RewriteRule ^prestamo$ 								index.php?con=prestamo&act=see [L]
RewriteRule ^prestamo/add$ 							index.php?con=prestamo&act=add [L]
RewriteRule ^prestamo/delete/([1-9][0-9]*)$ 		index.php?con=prestamo&act=delete&id_=$1 [L]

#RewriteRule ^nota/anadir/([1-9][0-9]*)$		index.php?ope=anadir&con=nota&id=$1 [L]

#RewriteRule ^nota/ver$ index.php?ope=ver&con=nota [QSA,L]
