{% extends "/base.php.twig" %}

{% block head %}
    <title> {{ APP_NAME }} </title>
{% endblock %}

{% block titulo %}
    <h1> {{ APP_NAME }} - Login </h1>
{% endblock %}

{% block contenido %}

    <form action="index.php" method="post">
    
        <input type="text" name="con" value="login" hidden>
        <input type="text" name="acc" value="login" hidden>

        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        
        <label for="pass">Password</label>
        <input type="text" name="pass" id="pass">

        <button type="submit">Entrar</button>

    </form>

{% endblock %}